
  <div class="main">
    <div class="jumbotron">
      <div class="container">
        <h2>
          Hello. My name is <span>Chris Hu</span> and I have creative ideas and build websites
        </h2>
        <a class="btn pull-right" href="#">View my Work</a>
      </div>
      
    </div>
  </div>
  

